body, html {
  min-width: 100%;
}

@font-face {
  font-family: "EB-Garamond";
  src: url("../fonts/EBGaramond-Weight.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB-Garamond";
}

.pink {
  color: #de6769;
}

.section-one {
  background-image: url("../images/bg-img.png");
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.navbar-item {
  color: white;
}

.navbar-logo {
  padding-right: 0rem;
}

a.navbar-item:hover, a.navbar-item:focus {
  color: black;
  opacity: 0.87;
  background-color: #f4cccc;
}

.title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 4rem;
  font-family: 'EB-Garamond';
}

.box {
  padding: 4rem 3rem;
}

@media (max-width: 800px) {
  .box {
    margin: 1rem;
  }
}

.banner {
  padding: 6rem 0rem;
}

.buttons:last-child {
  margin-bottom: 0rem;
}


.section-two.box {
  background-color: #de6769;
}

.section-three {
  background-color: #f3cccd;
}

.img-history {
  border: 5px solid #de6769;
}

.center {
  text-align: center;
}

.venmo {
  padding: 0rem 1rem;
  border-left: 5px solid #de6769;
}

.raffle-info {
  font-size: 1.6rem;
  background-color: #de6769;
  color: white;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.raffle-info-two {
  background-color: #e99a9a;
}

.prizes img {
  height: 10rem;
}

.section-five {
  background-image: url('../images/background-five.png');
  background-size: cover;
  background-position: bottom;
}

.section-five h2, .section-five h4 {
  color: white;
}

.footer, .footer a {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}

.right-footer {
  text-align: right;
}

.right-footer a {
  text-decoration: underline;
}